In [5]:
import pandas as pd
import plotly.express as px
from dash import Dash, html, dcc, dash_table, Input, Output, callback
import dash_bootstrap_components as dbc

In [6]:
df = pd.read_csv("table.csv")
df

                  name     size  Positives  %Positive  MaxSizeTest    F1   AUC
0    1043_ada_agnostic   218976       3430          2         1132  0.90  0.75
1         1048_jEdit_4     3321        204          6          165  0.73  0.70
2             1049_pc4    55404       1280          2          178  0.93  0.64
3             1050_pc3    59394       1403          2          160  0.95  0.57
4             1054_mc2     6440        109          2           52  0.86  0.74
..                 ...      ...        ...        ...          ...   ...   ...
156              namao  4101335      24621          1         9844  0.98  0.96
157          occupancy   123360      15810         13         4750  1.00  0.99
158            phoneme    32424       1586          5         3818  0.83  0.89
159           spambase   266858       2788          1         1813  0.96  0.94
160           winetype    84461       4898          6         1599  1.00  0.99

[161 rows x 7 columns]

In [7]:
app = Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

In [ ]:
app.layout = dbc.Container([
    dcc.Markdown("Datasets for experiments", style={"textAlign":"center"}),
    
    dbc.Label("Show number of rows"),
    row_drop := dcc.Dropdown(value=10, clearable=False, style={"width":"35%"}, 
                            options=[10, 25, 50, 100, 150, 160]),
    
    my_table := dash_table.DataTable(
                                    columns=[
                                        {'name':'Name', 'id':'name', 'type': 'text'},
                                        {'name':'Size', 'id':'size', 'type': 'numeric'}
                                        {'name':'Posiives', 'id':'positives', 'type': 'numeric'}
                                        {'name':'%Positive', 'id':'positive', 'type': 'numeric'}
                                        {'name':'MaxSizeTest', 'id':'maxsizetest', 'type': 'numeric'}
                                        {'name':'F1', 'id':'name', 'f1': 'numeric'}
                                        {'name':'AUC', 'id':'name', 'auc': 'numeric'}
                                    ], 
                                    )
])